{% extends "base.html" %}

{% block page_name %}
Search
{% endblock %}

{% comment %} 이렇게 베이스에서 가져온 블록을 비워두면 해당 블록을 가릴 수 있음 {% endcomment %}
{% block search_bar %}
{% endblock %}

{% block content %}
    <h3>Search</h3>
        <form method="GET" action="{% url "rooms:search"%}">
            {{form.as_p}}
            <button>Search</button>
        </form>

    <h3>Result</h3>
    {% for room in rooms%}
        <p>{{room.name}}</p>
    {%endfor%}

    {% if rooms.has_previous %}
    <a href="?page={{rooms.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {% if rooms.has_next %}
    <a href="?page={{rooms.next_page_number}}">Next</a>
    {% endif %}
{% endblock %}